
/target/
/debug/
/release/


**/Cargo.lock
/.cargo/
/.cargo-lock


/.vscode/
/.idea/
/rust-analyzer.json


*.log
*.rs.bk
*.swp
*.swo


/build/
/out/


*.exe
*.dll
*.dylib
*.so
*.a
*.o


.DS_Store


*.out
*.pid

